
<div class="footer">

<div class="copyright text-center">&copy; 1997 - 2020 Sam Deane.</div>

<div class="social text-center">
  <a class="btn btn-lg btn-social-icon btn-micro-blog" href="http://microblog.bornsleepy.com" rel="nofollow" target="_blank">
      <span class="fa"><img src="/images/micro.blog.png"/></span>

  </a>

    <a class="btn btn-lg btn-social-icon btn-twitter" href="https://twitter.com/samdeane" rel="nofollow" target="_blank">
        <span class="fa fa-twitter"></span>
    </a>

    <a class="btn btn-lg btn-social-icon btn-facebook" href="http://www.facebook.com/elegantchaos" rel="nofollow" target="_blank">
        <span class="fa fa-facebook"></span>
    </a>

    <a class="btn btn-lg btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/samdeane" rel="nofollow" target="_blank">
        <span class="fa fa-linkedin"></span>
    </a>

    <a class="btn btn-lg btn-social-icon btn-rss" href="/rss.xml" rel="nofollow" target="_blank">
        <span class="fa fa-rss"></span>
    </a>

    <a class="btn btn-lg btn-social-icon btn-github" href="https://github.com/samdeane" rel="nofollow" target="_blank">
        <span class="fa fa-github"></span>
    </a>

</div>

</div> <!-- footer -->

<!-- {% include bootstrap-footer.html %} -->
